body{
    background-color: black;
}

section{
    display: flex;
    flex-direction: column;
}

.topo img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 800px;
    margin: auto;
    opacity: 25%;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 50px;
    margin-top: 0px;
}

h1 span{
    color: #c7fa6c;
}

button{
    background-color: #c7fa6c;
    border-radius: 20px;
    height: 45px;
    width: 200px;
    text-align: center;
    margin: auto;
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
}